nav {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  padding: 0 20px;
  outline: transparent !important;
}

button.active {
  background: radial-gradient(
    circle,
    rgb(104, 104, 104) 0,
    transparent 35px
  ) !important;
}

button:active {
  outline: none;
}

button:focus {
  background: radial-gradient(
    circle,
    var(--default-btn-bg) 0,
    transparent 35px
  ) !important;
}

img {
  height: 30px;
  width: 30px;
}

span {
  color: var(--text-color);
}
